{% extends 'base.html.twig' %}

{% block body %}
    <h1>Request password reset</h1>
    {{ form_start(requestForm) }}
        {{ form_widget(requestForm) }}
    {{ form_end(requestForm) }}
{% endblock %}