{% extends 'base.html.twig' %}

{% block title %}Shortmessage!{% endblock %}

{% block body %}
<br>

{% for message in app.flashes('erfolg') %}
    <div class="alert alert-success"><h3>{{ message }}</h3></div>
{% endfor %}

{% for post in pagination %}

    {% include 'home/post.html.twig' %}

{% endfor %}

            {{ knp_pagination_render(pagination) }}
        

{% block javascripts %}
    {{ parent() }}
    <script>
        function likePost(postId) {
            sendAjaxRequest('thumpsup', postId);


        }

        function dislikePost(postId) {
            sendAjaxRequest('thumpsdown', postId);
        }

        function sendAjaxRequest(action, postId) {
          console.log('Sending ${action} request for ${postId}')
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Hier kannst du die Rückgabe verarbeiten, z.B. die Like/Dislike-Anzahl aktualisieren
                    const response = JSON.parse(xhr.responseText);
                    //const postElement = document.querySelector(`.post[data-post-id="${postId}"]`);
                    document.getElementById("likes-"+`${postId}`).textContent = response.likes;
                    if(response.status){
                      document.getElementById("likes-"+`${postId}`).disabled = true;
                    }
                    console.log(response.dislikes)
                    console.log(`${postId}`)
                    document.getElementById("dislikes-"+`${postId}`).textContent = response.dislikes;
                }
            };

            xhr.open('GET', `/${action}/${postId}`, true);
            xhr.send();
        }
    </script>
{% endblock %}

{% endblock %}
