:root {
  --bg-color: #f6f9f8;
  --second-bg-color: #b3d1e2;
  --text-color: #282424;
  --main-color: #3387b2; /* Blue */
}

body {
  background-color: var(--bg-color);
}

.container {
  padding: 0 0 0 0;
  max-width: 100%;
}
.navbar {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar .navbar-brand {
  padding-left: 0.5rem;
}

.searchbar {
  padding: 0;
}

.nav-sidebar {
  background-color: rgb(33, 37, 41);
  padding: 0;
  text-align: left;
  text-indent: 0.5rem;

  position: fixed;
  z-index: 1;
  display: block;
  height: 100%;
  width: 200px;
  margin-top: 50px;
}

.nav-sidebar a {
  text-decoration: none;
  color: var(--bg-color);
  padding-left: 0.7rem;
}

.nav-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-sidebar ul li {
  padding-left: 0.3rem;
  position: relative;
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: 0.1rem solid var(--bg-color);
}

.nav-sidebar ul li:hover {
  background-color: #3387b2;
}

.nav-sidebar ul li a {
  text-decoration: none;
  color: var(--bg-color);
  padding-left: 1rem;
}

.container .row .posts {
  background: var(--bg-color);
  margin-left: 200px;
  margin-top: 50px;
}

.container .row .ad {
  margin-top: 50px;
}

.card {
  border-style: none;
}
.card .card-header {
  background-color: var(--bg-color);
  border-style: none;
  border-radius: 0%;
  padding-top: 1rem;
  padding-bottom: 0;
}

.card .card-header a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.card .card-body {
  background-color: var(--bg-color);
  padding-bottom: 1rem;
  padding-top: 0;
}

footer.blockquote-footer {
  font-size: 0.8rem;
}

.container.register {
  text-align: center;
}

.container.register form div label {
  padding-right: 1rem;
  padding-top: 1rem;
}

hr {
  background-color: var(--bg-color);
  margin: 0;
}

.comment {
  padding: 1rem 0 0 2rem;
}
.comment .row {
  padding: 0 0 1rem 0;
}

.comment .content {
  padding: 0 0 0 2rem;
  border-left: 1px solid;
  margin-bottom: 1rem;
}

/* sharebox */
#modal-share {
  width: 50%;
}

.list-unstyled {
  text-align: center;
}

.list-unstyled li {
  display: inline;
}
/* User profile */

.bi-twitter-x,
.bi-facebook,
.bi-linkedin,
.bi-whatsapp {
  font-size: 50px;
  margin: 1rem;
}
.bi-facebook {
  color: #3b5998;
}

.bi-linkedin {
  color: #006097;
}
.bi-twitter-x {
  color: #282424;
}

.bi-whatsapp {
  color: #64d448;
}

@media (max-width: 768px) {
  .nav-sidebar {
    display: none;
  }

  .container .row .posts {
    margin-left: 10px;
  }
}
