:root {
  --bg-color: #f6f9f8;
  --second-bg-color: #b3d1e2;
  --text-color: #282424;
  --main-color: #3387b2; /* Blue */
}

body {
  background-color: var(--bg-color);
}

.navbar {
  justify-content: space-between;
}

.card {
  border-style: none;
}
.card .card-header {
  background-color: var(--bg-color);
  border-style: none;
  border-radius: 0%;
  padding-top: 1rem;
}

.card .card-header a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.card .card-body {
  background-color: var(--bg-color);
  padding-bottom: 1rem;
}

.container.register {
  text-align: center;
}

.container.register form div label {
  padding-right: 1rem;
  padding-top: 1rem;
}

.container .row .posts {
  background: var(--bg-color);
}

hr {
  background-color: var(--bg-color);
  margin: 0;
}
