{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}

<br>

      {{ form_start(editForm) }}
        <div class="form-group">
            {{ form_row(editForm.name) }}
        </div>
        <div class="form-group">
            {{ form_row(editForm.save) }}
        </div>
    {{ form_end(editForm) }}

{% endblock %}
