{% extends 'base.html.twig' %}

{% block title %}Shortmessage! - Adminspace - Userlist{% endblock %}

{% block body %}
<br>
{% for message in app.flashes('success') %}
    <div class="alert alert-success"><h3>{{ message }}</h3></div>
{% endfor %}

{% for message in app.flashes('failure') %}
    <div class="alert alert-danger"><h3>{{ message }}</h3></div>
{% endfor %}
   <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Settings</th>
      </tr>
    </thead>
    <tbody>
{% for user in pagination %}

    {% include 'admin/userlist.html.twig' %}

{% endfor %}
    </tbody>
   </table>

            {{ knp_pagination_render(pagination) }}
        

{% endblock %}
